<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/flowers" method="post">
      <label>
        Назва товару
        <input type="text" name="title" />
      </label>
      <label>
        Кількість товару
        <input type="number" name="amount" />
      </label>
      <label>
        Ціна одиниці товару
        <input type="number" name="price" />
      </label>
      <button type="submit">Створити</button>
    </form>
  </body>
</html>
