<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Інформація про товар</title>
  </head>
  <body>
    <h1><%= flower.title %></h1>
    <div>Amount: <%= flower.amount %></div>
    <div>Price: <%= flower.price %></div>
    <div>Total price: <%= flower.amount * flower.price %></div>
    <a href="/flowers">До списку товарів</a>
  </body>
</html>
