<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%-include('sections/header.ejs')%>
    <main class="home container">
      <h1><%= title %></h1>
       
    <%-include('sections/footer.ejs')%>
  </body>
</html>
