<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>обробка статичних маршрутів:</h2>
    <ul>
      <li>“/” - Вітання користувача</li>
      <li>“/goals” - Ваші цілі</li>
    </ul>
    <h2>обробка статичних файлів:</h2>
    <ul>
      <li>about - містить тему та умову задачі</li>
      <li>news - містить перелік важливі новини (для Вас)</li>
    </ul>
    <h2>обробка параметрів запитів:</h2>
    <ul>
      <li>«sites» - адресами улюблених сайтів</li>
      <li>
        <p>у залежності від значення параметра повертає сторінку з :</p>
        <ul>
          <li>«sites» - адресами улюблених сайтів</li>
          <li>«films» - адреси улюблених онлайн кінотеатрі</li>
          <li>«me» - або інформацію про себе</li>
        </ul>
      </li>
    </ul>
  </body>
</html>
