<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>

    <% if(info){ %>
    <ul>
      <% info.forEach((item) => { %>
      <li><%= item %></li>
      <% }) %>
    </ul>
    <% } %>
  </body>
</html>
