<!DOCTYPE html>
<html>
  <head>
    <title>Магазин квітів</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Вітаємо у магазині!</h1>
    <a href="/flowers">Перейти до вибору квітів</a>
  </body>
</html>
